.mobile-menu {
  display: flex;
  background-color: white;
  width: 20%;
  height: fit-content;
  position: absolute;
  right: 0;
}

#mobile-menu-btn{
  display: none;
}


@media only screen and (max-width: 564px) {
    .c_nav{
        justify-content: space-between !important;
    }

  .mobile-menu {
    width: 100%;
    display: none ;
    z-index: 1;
  }

  .mobile-menu>a{
    display: block;
  }

  #mobile-menu-btn{
    display: block;
  }  
}
